<div class="flex flex-col lg:flex-row justify-center items-center w-full px-4 py-8 space-y-8 lg:space-y-0 lg:space-x-12 z-10">
  <!-- 画像セクション（非表示 on モバイル） -->
  <div class="hidden lg:block pt-3 w-1/2 ml-auto lg:flex justify-center">
    <%= image_tag 'new-registration.png', class: "w-[80%] h-[80%] rounded-lg" %>
  </div>

  <div class="bg-white w-full md:w-2/3 px-6 py-10 shadow-md rounded-lg">
    <p class="text-2xl mb-4 text-center text-zinc-800">新規登録</p>
    <%= form_for(resource, as: resource_name, url: new_user_registration_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "block mb-1 text-zinc-800" %>
        <%= f.email_field :email, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "example@example.com" %>
      </div>
      <div class="mb-4">
        <%= f.label :password, "パスワード", class: "block mb-1 text-zinc-800" %>
        <%= f.password_field :password, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "6文字以上で設定してください。" %>
      </div>
      <div class="mb-4">
        <%= f.label :password_confirmation, "パスワード確認", class: "block mb-1 text-zinc-800" %>
        <%= f.password_field :password_confirmation, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "パスワード" %>
      </div>
      <%= f.submit "認証メールを送信する", class: "w-full bg-sky-600 text-white py-2 rounded-full hover:bg-red-400 hover:text-white transition" %>
    <% end %>

    <% if notice %>
      <p class="text-green-600 mt-4"><%= notice %></p>
    <% elsif alert %>
      <p class="text-red-600 mt-4"><%= alert %></p>
    <% end %>
    <div class="flex justify-center mt-6">
      <%= link_to '確認メールが届かない場合はこちら', new_user_confirmation_path, class: "text-zinc-800 hover:underline" %>
    </div>
    <div class="flex justify-center space-x-6 mt-2">
      <%= link_to "パスワードをお忘れの方はこちら", new_user_password_path, class: "text-sm text-zinc-800 hover:underline mt-6 block" %>
      <%= link_to "すでにアカウントをお持ちの方はこちら", new_user_session_path, class: "text-sm text-zinc-800 hover:underline mt-6 block" %>
    </div>
  </div>
</div>