<% if params[:q].blank? %>
  <!-- 🔰 初期表示：熨斗一覧 -->
  <div class="text-center px-4 text-2xl pb-6">
    <p class="text-white">熨斗一覧: <%= @noshis.count %> 件</p>
  </div>

  <div class="max-w-5xl mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-6">
      <% @noshis.each do |noshi| %>
        <div id="noshi-id-<%= noshi.id %>" class="shadow rounded overflow-hidden w-full">
          <div class="p-6 flex flex-col space-y-10">
            <%= render 'noshi_bookmarks/noshi_bookmark_button', noshi: noshi %>
            <%= link_to noshi_path(noshi) do %>
              <div class="text-3xl text-white text-center"><%= noshi.label %></div>
              <%= image_tag noshi.image, class: "w-full h-auto object-cover" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% elsif @keyword_search %>
  <div class="text-center px-4 text-2xl pb-6">
    <p class="text-white">キーワード検索結果: <%= @noshis&.count || 0 %> 件</p>
  </div>

  <div class="max-w-5xl mx-auto px-4">
    <% if @noshis.present? %>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-6">
        <% @noshis.each do |noshi| %>
          <div id="noshi-id-<%= noshi.id %>" class="shadow rounded overflow-hidden w-full">
            <div class="p-6 flex flex-col space-y-10">
              <%= render 'noshi_bookmarks/noshi_bookmark_button', noshi: noshi %>
              <%= link_to noshi_path(noshi) do %>
                <div class="text-3xl text-white text-center"><%= noshi.label %></div>
                <%= image_tag noshi.image, class: "w-full h-auto object-cover" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center text-white">該当する熨斗が見つかりませんでした。</p>
    <% end %>
  </div>

<% else %>
  <div class="text-center px-4 text-2xl pb-6">
    <p class="text-white">詳細検索結果: <%= @noshis.count %> 件</p>
  </div>

  <!-- 詳細検索結果表示 -->
  <div class="max-w-5xl mx-auto px-4">
    <% if @noshis.present? %>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-6">
        <% @noshis.each do |noshi| %>
          <div id="noshi-id-<%= noshi.id %>" class="shadow rounded overflow-hidden w-full">
            <div class="flex flex-col">
              <div class="p-6 flex flex-col space-y-10">
                <%= render 'noshi_bookmarks/noshi_bookmark_button', noshi: noshi %>
                <%= link_to noshi_path(noshi) do %>
                  <div class="text-3xl text-white text-center"><%= noshi.label %></div>
                  <div class="w-full relative z-19">
                    <%= image_tag noshi.image, class: "w-full h-auto object-cover" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center text-white">該当する熨斗が見つかりませんでした。</p>
    <% end %>
  </div>
<% end %>
