<div class="flex flex-col justify-between items-center w-full px-4 py-8 space-y-8 lg:space-y-0 lg:space-x-12 z-10">
  <div class="bg-white rounded-lg shadow-md mt-10 py-8 px-4">
    <h1 class="text-3xl text-center mb-6"><%= current_user.email %>さんの<br>マイページ</h1>

    <div class="flex flex-row justify-center space-x-6 mt-8">
      <div class="flex items-center hover:scale-110">
        <%= link_to bookmarks_noshis_path do %>
          <%= image_tag 'favorite-list.png', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
        <% end %>
      </div>
      <div class="flex items-center hover:scale-110">
        <%= link_to bookmarks_columns_path do %>
          <%= image_tag 'column-list.png', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
        <% end %>
      </div>
      <button class="flex items-center hover:scale-110">
        <%= image_tag 'template-list.png', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
      </button>
    </div>

    <div class="mt-10 text-center">
      <%= link_to 'アカウントを削除する', '#' , class: "text-red-400 text-sm hover:underline" %>
    </div>
  </div>
</div>
