<div class="flex flex-col lg:flex-row justify-between items-center w-full px-4 py-8 space-y-8 lg:space-y-0 lg:space-x-12 z-10">
  <div class="hidden lg:block pt-3 lg:flex lg:w-1/4 justify-start">
    <%= image_tag 'blessing-rabbit.png', class: "w-full h-auto" %>
  </div>

  <div class="bg-white rounded-lg shadow-md mt-10 py-8 px-4">
    <h1 class="text-3xl text-center mb-6">マイページ</h1>
    <div class="p-6 space-y-4">
      <div class="flex flex-col justify-between">
        <div class="text-zinc-800 text-xl">メールアドレス</div>
        <div class="flex flex-row space-x-4">
          <div class="text-zinc-800 text-xl"><%= @user.email %></div>
          <button class="px-4 bg-sky-600 text-xl text-white hover:bg-red-400 rounded-full">変更</button>
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <div class="text-zinc-800 text-xl">パスワード</div>
        <div class="flex flex-row space-x-4">
          <div class="text-zinc-800 text-xl">●●●●●●</div>
          <button class="px-4 text-xl bg-sky-600 text-sm text-white hover:bg-red-400 rounded-full">変更</button>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center space-x-6 mt-8">
      <div class="flex items-center hover:scale-110">
        <%= link_to bookmarks_noshis_path do %>
          <%= image_tag 'favorite-list', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
        <% end %>
      </div>
      <div class="flex items-center hover:scale-110">
        <%= link_to bookmarks_columns_path do %>
          <%= image_tag 'column-list', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
        <% end %>
      </div>
      <button class="flex items-center hover:scale-110">
        <%= image_tag 'template-list', class: "md:w-[200px] md:h-[200px] w-[100px] h-[100px] mb-1" %>
      </button>
    </div>

    <div class="mt-10 text-center">
      <%= link_to 'アカウントを削除する', '#' , class: "text-red-400 text-sm hover:underline" %>
    </div>
  </div>

  <div class="hidden lg:block pt-3 lg:flex lg:w-1/4 justify-end">
    <%= image_tag 'infinite-fortune-rabbit.png', class: "w-full h-auto" %>
  </div>
</div>
