<header class="top-0 left-0 w-full z-40 bg-white">
  <div class="flex items-center justify-between w-full px-4">

    <!-- 左側：ロゴとキャッチコピー -->
    <div class="flex flex-col">
      <div class="mb-2 w-[100px] md:w-[150px]">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "w-full h-auto object-contain transition-all duration-300 ease-in-out" %>
        <% end %>
      </div>
    </div>

    <!-- 中央：リンク集（中画面以上で表示） -->
    <ul class="hidden md:flex space-x-6 text-zinc-800 text-2xl text-center">
      <li class="hover:underline">Noshiruについて</li>
      <li class="hover:underline"><%= link_to 'コラム一覧', columns_path %></li>
      <li class="hover:underline">熨斗紙テンプレート</li>
      <li class="hover:underline"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "hover:underline" %></li>
    </ul>

    <div class="flex items-center justify-end space-x-4 text-red-500 text-5xl">
      <!-- 右側：矢印アイコン -->
      <%= link_to my_page_path do %>
        <%= image_tag 'my-page-rabbit.png', class: "hover:scale-105 w-20 h-20 md:w-30 md:h-30" %>
      <% end %>

      <div class="md:hidden">
        <!-- 右側：メニューアイコン（三本線） -->
        <button id="menu-bar" class="h-10 w-10 cursor-pointer">
          <%= image_tag 'menu-bar.png' %>
        </button>
        <ul id="menu" class="hidden bg-blue-100 flex flex-col space-y-4 mt-4 text-lg text-zinc-700 px-4 py-4 rounded-lg">
          <li class="hover:underline">Noshiruについて</li>
          <li class="hover:underline"><%= link_to 'コラム一覧', columns_path %></li>
          <li class="hover:underline">熨斗紙テンプレート</li>
          <li class="hover:underline"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "hover:underline" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="bg-gradient-to-b from-white via-zinc-100 to-transparent h-5 w-full"></div>
