<header class="top-0 left-0 w-full z-40 bg-white">
  <div class="flex items-center justify-between w-full px-4">

    <!-- 左側：ロゴとキャッチコピー -->
    <div class="flex flex-col">
      <div class="mb-2 w-[100px] md:w-[200px]">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "w-full h-auto object-contain transition-all duration-300 ease-in-out" %>
        <% end %>
      </div>
    </div>

    <!-- 中央：リンク集（中画面以上で表示） -->
    <ul class="hidden md:flex space-x-6 text-zinc-800 text-2xl text-center">
      <li class="hover:underline">Noshiruについて</li>
      <li class="hover:underline"><%= link_to 'コラム一覧', columns_path %></li>
      <li class="hover:underline">熨斗紙テンプレート</li>
    </ul>

    <div class="flex items-center justify-end space-x-4 text-red-500 text-5xl">
      <!-- 右側：矢印アイコン -->
      <button class="hover:scale-105 w-20 h-20 md:w-30 md:h-30">
        <%= link_to new_user_session_path do %>
          <%= image_tag 'login-rabbit.png' %>
        <% end %>
      </button>

      <div class="md:hidden">
        <!-- 右側：メニューアイコン（三本線） -->
        <button id="menu-bar" class="text-5xl cursor-pointer text-zinc-500 hover:text-yellow-300 transition-colors duration-300">&#9776;</button>
        <ul id="menu" class="hidden flex flex-col space-y-4 mt-4 text-lg text-zinc-700">
          <li class="hover:underline">Noshiruについて</li>
          <li class="hover:underline"><%= link_to 'コラム一覧', columns_path %></li>
          <li class="hover:underline">熨斗紙テンプレート</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="bg-gradient-to-b from-white via-zinc-100 to-transparent h-20 w-full"></div>
