<div class="flex flex-row relative items-center justify-center space-x-10">
  <div class="w-auto h-[10px]"><%= image_tag 'kumo.png' %></div>
  <!-- キーワード検索 -->
  <div class="relative bg-yellow-300 rounded-full w-[300px] h-[300px] flex bg-origin-content bg-contain bg-auto bg-center items-center justify-center shadow-md rounded-full">
    <%= search_form_for @q, url: root_path, method: :get, html: { id: "search-form" } do |f| %>
      <div class="relative w-[95%] max-w-[280px] mx-auto">
        <%= f.search_field :label_or_description_or_synonyms_word_or_categories_use_case_or_categories_religion_or_columns_title_or_columns_text_cont, placeholder: 'キーワード検索', type: "text", class: "relative z-10 pl-10 pr-4 py-2 rounded-full w-full shadow-inner text-zinc-800 text-xl text-center bg-zinc-100" %>
        <button type="submit" class="absolute right-10 top-1/2 transform -translate-y-1/2 text-blue-900 hover:text-yellow-400 transition-colors duration-200 z-20">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute left-2 top-1/2 transform -translate-y-1/2 text-zinc-800 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>
      </div>
    <% end %>
  </div>
  <div class="w-auto h-[10px]"><%= image_tag 'kumo.png' %></div>
</div>

<!-- 詳細検索 -->
<div class="bg-white w-full md:w-2/3 text-zinc-800 px-6 py-10 shadow-md rounded-lg">
  <p class="text-2xl mb-4 text-center">検索条件入力</p>
  <%= search_form_for @q, url: root_path, method: :get, html: { id: "search-form" } do |f| %>
    <div class="mb-4">
      <%= f.label :label, "表書き", class: "block mb-1" %>
      <%= f.search_field :label_cont, placeholder: '例: 御祝', class: "w-full border rounded px-3 py-2" %>
    </div>

    <div class="mb-4">
      <%= f.label :use_case, "用途", class: "block mb-1" %>
      <%= f.select :categories_use_case_cont, @use_cases.map(&:use_case).uniq.reject(&:blank?).map { |uc| [uc, uc] }, { include_blank: '用途を選択' }, class: "w-full border rounded px-3 py-2 relative z-10" %>
    </div>

    <div class="flex justify-center space-x-4 mt-6">
      <%= f.submit "検索", class: "bg-blue-900 text-white px-6 py-2 rounded-full shadow hover:bg-yellow-600 relative z-10" %>
    </div>
  <% end %>
</div>
