<!-- 星アイコン -->
<% if current_user %>
  <div id="bookmark-button-for-column-<%= column.id %>">
    <% if current_user.column_bookmark?(column) %>
      <%= link_to column_column_bookmark_path(column),
                data: { turbo_method: :delete, turbo_stream: true },
                class: "inline-block" do %>
        <span class="cursor-pointer hover:scale-110 w-[10]px h-[10]px">
          <%= image_tag 'usamark2.png' %>
        </span>
      <% end %>
    <% else %>
      <%= link_to column_column_bookmark_path(column),
                data: { turbo_method: :post, turbo_stream: true },
                class: "inline-block" do %>
        <span class="cursor-pointer hover:scale-110 w-[10]px h-[10]px">
          <%= image_tag 'usamark1.png' %>
        </span>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= form_with url: '/auth/google_oauth2', method: :post, data: { turbo: false } do %>
    <button class="cursor-pointer hover:scale-110 w-[10]px h-[10]px">
      <%= image_tag 'usamark1.png' %>
    </button>
  <% end %>
<% end %>
