<% unless @keyword_search %>
  <% if params[:q].present? && @noshis.present? %>
    <div class="text-center px-4 text-2xl pb-6">
      <p class="text-white">詳細検索結果: <%= @noshis.count %>件</p>
    </div>
  <% end %>

  <!-- 詳細検索結果表示 -->
  <div class="max-w-5xl mx-auto px-4">
    <% if params[:q].present? && @noshis.present? %>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-6">
        <% @noshis.each do |noshi| %>
          <div id="noshi-id-<%= noshi.id %>" class="shadow rounded overflow-hidden w-full">
            <div class="flex flex-col">
              <div class="p-6 flex flex-col space-y-10">
                <%= link_to noshi_path(noshi) do %>
                  <div class="text-3xl text-white text-center"><%= noshi.label %></div>
                  <div class="w-full relative z-19">
                    <%= image_tag noshi.image, class: "w-full h-auto object-cover" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @keyword_search %>
  <div class="text-center px-4 text-2xl pb-6">
    <p class="text-white">キーワード検索結果: 熨斗 <%= @noshis.count %>件/ コラム <%= @columns.count %>件</p>
  </div>

  <% max = [@noshis.size, @columns.size].max %>
  <div class="max-w-6xl mx-auto px-4">
    <% max.times do |i| %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <div class="md:border-r md:pr-6">
          <% if noshi = @noshis[i] %>
            <%= link_to noshi_path(noshi), class: "block hover:shadow-lg transition-shadow duration-300" do %>
              <div class="p-4 rounded shadow">
                <div class="text-xl mb-2 text-center text-white"><%= noshi.label %></div>
                <%= image_tag noshi.image, class: "w-full h-auto object-cover rounded mb-2" %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="md:pl-6">
          <% if column = @columns[i] %>
            <%= link_to column_path(column), class: "block hover:shadow-lg transition-shadow duration-300" do %>
              <div class="p-4 rounded shadow">
                <div class="text-xl text-center text-white mb-2"><%= column.title %></div>
                <%= image_tag column.thumbnail, class: "w-full h-auto object-cover rounded mb-2" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
